/* Сброс всех стилей */
* {
  all: unset;
}

/* Общее для всего Waybar */
window#waybar {
  font-family: "IosevkaTerm NF Light";
  font-size: 14px;
  color: #E9E9E9;
}

/* Верхний бар */
window#waybar.top {
  background: rgba(32, 32, 32, 0.99);
}

/* Модули верхнего бара */
window#waybar.top .modules-left {
  padding-left: 5px;
}

window#waybar.top .modules-right {
  padding-right: 5px;
}

/* Цвета состояний */
#cpu.medium,
#battery.medium,
#network.disconnected,
#memory.medium {
  color: yellow;
}

#cpu.high,
#memory.high {
  color: blue;
}

#cpu.critical,
#battery.critical,
#temperature.critical,
#network.disabled,
#memory.critical {
  color: #ff3b2f;
}
